/*REGOLE GENERALI*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/cork.png");
}

h1 {
    padding-top: 50px;
    font-size: 48px;
}

header {
    height: 160px;
    text-align: center;
    background-image: url("../img/wall.png");
}


/*SEZIONE CON FOTO*/
.big-container {
    width: 67%;
    margin: 0 auto;
    margin-top: 65px;
}

.col{
    width: calc((100% /3) - (45px / 3 ));
}

.row {
    display: flex;
    gap: 45px;
    margin-bottom: 45px;
    
}

.card{
    background-color: white;
    
}

.card-text-box{
    height: 122px;
}

.card-img img {
    width: 260px;
    height: 260px;
    margin-left: 20px;
    margin-top: 20px;
}