/*REGOLE GENERALI*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/cork.png");
}

h1 {
    padding-top: 20px;
    font-size: 95px;
    font-family:"Edu Tas Beginner", sans-serif;
}

header {
    height: 160px;
    text-align: center;
    background-image: url("../img/wall.png");
}


/*SEZIONE CON FOTO*/
.big-container {
    width: 67%;
    margin: 0 auto;
    margin-top: 55px;
    
}

.dot{
    width: 30px;
    height: 30px;
    border-radius: 33px;
    position: relative;
    left: 137px;
    top: 20px;
    display: inline-block;
}

.col{
    width: calc((100% /3) - (45px / 3 ));
}

.row {
    display: flex;
    gap: 45px;
    margin-bottom: 15px;
}

.card{
    background-color: white;
    padding-top: 15px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text-box{
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-img img {
    width: 260px;
    height: 260px;
    margin-left: 20px;
}

.card-text-title{
    font-family:"Edu Tas Beginner", sans-serif;
}

.card-text-date{
    font-family:"Sometype Mono", "monospace";
}

/*hover*/
.card-hover{
    transform: scale(2.5);
}

.dot-hover{
    display: none;
}

