*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 50px;
    font-size: 48px;
}

header {
    /*DEBUG*/
    
    height: 160px;

    text-align: center;
    background-image: url("../img/wall.png");
}

.container {
    /*DEBUG*/
    background-color: yellow;
    height: 780px;
}